<div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Meeting 1 Data</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Chat Data</label>
                <textarea class="form-control rounded-100" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Input</label>
                <input type="text" class="form-control" placeholder="Voice Data" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Meeting 2 Data</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Chat Data</label>
                <textarea class="form-control rounded-100" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Input</label>
                <input type="text" class="form-control" placeholder="Voice Data" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Meeting 3 Data</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Chat Data</label>
                <textarea class="form-control rounded-100" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Input</label>
                <input type="text" class="form-control" placeholder="Voice Data" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>